html{
	margin:0px;
	height:100%;
	width:100%;
}

body{
	display: flex;
	margin:0px;
	overflow: hidden;
	background-color: #0b0821;
	color:white;
	font-family:'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
	font-size: 18px;
}

div.banner{
	flex: initial;
	display: flex;
	background-color: #3a3a3a;
	height: 50px;
	color: white;
	align-items: center;
	justify-content: center;
}

div.banner_img{
	flex:1 1;
}

div.banner_logout{
	align-items: center;
	display:flex;
	flex:initial;
	widht:200px;
}

div.banner_logout span{
	margin-left:10px;
}

/************ PLUS *******************/

div.plus{
	display:hidden;
	flex-direction:row;
	background-color: #007bff;
	position:absolute;
	bottom:0px;
	left:0px;
	width:0px;
	height:0px;
}

div.plus_help{
	font-size:14px;
}

div.plus_items{
	flex:initial;
	width:380px;
	display:flex;
	flex-direction:column;
	height:100%;
	overflow-y:auto
}

div.plus_add{
	display:flex;
	flex-direction:row;
	position:absolute;
	background-color:#0b0821;
	height:100%;
	width:0%;
	top:0px;
	left:0px;
	font-size:20px;
}

div.plus_add_detail{
	padding:20px;
	background-color:#0b0821;
	flex:initial;
	width:250px;
	border-right:1px solid black;
}

div.plus_add_data{
	background-color:#007bff;
	display: flex;
	flex: 1 1;
	flex-direction: column;
}

div.plus_item{
	display:flex;
	flex-direction:row;
	padding:5px;
}
div.plus_item:hover{
	background-color:#0b0821;
}
div.plus_img{
	flex: initial;
	width:100px;
	height:100px;
}
div.plus_img img{
	width:80px;
}
div.plus_text{
	flex: 1 1;
	display:flex;
	flex-direction:column;
}
div.plus_title{
	flex: initial;
	font-size:20px;
	font-weight:bold;
}
div.plus_detail{
	flex: 1 1;
	font-size:14px;
}

/************ wrappers ***************/

div.section_skeletor{
	display:flex;
	overflow-y:auto;
}

div.section_data{
	display:flex;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	margin: 10px;
	padding: 6px;
}

div.section_struct{
	display:flex;
	flex: 1 1;
	padding:5px;
}

div.wrapper{
	display:flex;
	background-color: #202020;
	display-direction:row;
	width:100%
}

.flex{
	display:flex;
}
.initial:{
	flex:initial;
}
.row{
	flex-direction:row;
}
.col{
	flex-direction:column;
}

.cero_row{
	flex:initial;
	width:0px;
}

.cero_col{
	flex:initial;
	height:0px;
}

.v_center{
	align-items: center;
}

.uno{
	flex: 1 1
}

.dos{
	flex: 2 1
}

.tres{
	flex: 3 1
}

.padding {
	padding:10px;
}

.padding_not_r {
	padding:10px 0px 10px 10px;
}

.overflow-y {
	overflow-y:auto;
}

div.wrapper{
	display:flex;
	flex-direction:column;
}

div.wrp1{
	display: flex;
	flex:1 1;
	flex-direction:row;
}

div.content{
	flex: 1 1;
	display:flex;
	flex-direction:column;
	color: #eeeeee;
}

div.content_menu{
	display: flex;
	flex: initial;
	height:35px;
}

div.content_data{
	overflow-y:auto;
	//display: flex;
	flex: 1 1;
}

div.content_action{
	display: flex;
	flex: initial;
	height: 50px;
	background-color: #1e165b;
	justify-content:center;
	padding: 5px;
}

div.wrp_vl{
	flex: initial;
	width:180px;
	background-color:#255d5f;
}

div.wrp_play{
	display:flex;
	flex: 1 1;
	padding-left:10px 10px 0px 10px;
}

div.wrp_solapa{
	display: flex;
	width:100%
	height:100%
}

div.vertical_simetric{
	flex: 1 1;
}

.border-left{
	border-left-style:solid:
	border-left-width:1px;
}

/************** Menu *************/
div.menu{
	display: flex;
	flex-direction: row;
	width:40px;
	font-size: 14px;
}
div.menu_home{
	margin-left: 6px;
	margin-right: 6px;
	display: flex;
	align-items: center;
}
div.menu_home img {
	width: 25px;
}
div.menu_item{
	margin-left: 6px;
	margin-right: 6px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	display: flex;
	align-items: center;
}
div.menu_select {
	border-bottom: 2px solid #73d0f4;
}
div.menu_item:hover{
	border-bottom: solid 1px white;
}
div.menu_element{
	font-weight: bold;
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-left: 6px;
	margin-right: 6px;
	padding-left: 10px;
	padding-right: 10px;
}

/************** Main Menu *************/

div.main_menu{
	flex: 1 1;
	display: flex;
	padding-top:10px;
	width:200px;
	flex-direction:column;
	background-color:#0b0821;
}
div.main_menu_submenu{
	display:flex;
	flex-direction: column;
	background-color: #1e165b;
	position: absolute;
	left:200px;
	top:50px;
	width:0px;
/*	height:100%;*/
}

div.main_menu_submenu items{
	display:flex;
	flex-direction:column;
	flex:1 1;
}

div.main_menu_submenu addButton{
	display:flex;
	flex-direction: column;
	flex: initial;
}

div.main_menu_item{
	display: flex;
	justify-content:left;
	align-items: center;
	color:white;
	font-size:15px;
	padding:10px;
}

div.main_menu_item:hover{
	background-color: #1e165b;
}

div.main_menu_item img {
	width: 30px;
	height: 30px;
	margin-right:10px;
}

div.main_submenu_item{
	display: flex;
	justify-content:left;
	align-items: center;
	color:white;
	font-size:15px;
	padding:10px;
}

div.main_submenu_item:hover{
	background-color: #2d1e77;
}

div.main_submenu_item img {
	width: 30px;
	height: 30px;
	margin-right:10px;
}

div.addButton{
	display:flex;
	background-color:red
}

div.addButton img{
}

div.menuplus{
	display:flex;
	flex:initial;
	background-color:#0b0821;
	justify-content:center;
	align-items: center;
}

div.menuplus div{
	display:flex;
	height:70px;
	width:70px;
	color:white;
	font-weight:bold;
	font-size:30px;
	background-color: #007bff;
	border: solid 1px #007bff;
	justify-content:center;
	align-items: center;
}

div.server_error{
	font-size:40px;
	width:400px;
	position:relative;
	top:40%;
	left:40%
}

/*********************************/

.tilt {
	background-color:#F98971 !important;
	color: white; !important;
}

.seleccionada{
	background-color:#1e165b !important;
	color: white !important;
}

/********** Listado ************/

div.listado{
	display:flex;
	flex-direction:column;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: auto;
	height:100%;
	font-size:14px;
	border-radius:6px;
}

div.listado_contenido{
	display: flex;
	flex-direction:column;
	overflow-y:auto;
	background-color: #F8F8F8;
	height:100%;
}

div.listado_cabecera{
	display:flex;
	background-color:#555;
	font-weight:bold;
	color: white;
	padding-top:4px;
	padding-bottom:4px;
}

div.listado_cabecera div{
	flex: initial;
	/*width: 150px;*/
	height:20px;
	font-size:14px;
	padding-left:2px;
	border-right-style: solid;
	border-right-color: #555;
	border-right-width: 1px;
}


div.listado_fila{
	display:flex;
/*	align-items: center;
	justify-content: center;*/
}

div.listado_fila:hover{
	background-color: #ffbf00 ;
	color:#eee;
}

div.listado_fila div{
	flex: initial;
	/*width:150px;*/
	border-right-style: solid;
	border-right-color: #555;
	border-right-width: 1px;
	padding: 5px;
}

/**********************************/
textarea.textarea1{
	margin-top:10px;
	width:560px;
	height:150px;
	overflow-y:auto;
	font-size:18px;
	padding:10px;
	margin-bottom:10px
}

button{
	margin-left:10px;
	margin-right:10px;
}

.add_button{
	height: 36px;
	width:	50px;
}

.alta_button{
	background-color:#255d5f;
	color:#eee;
	padding: 10px 36px;
	font-size: 18px;
}

/******* Vertical list *************/
div.vertical_list{
	background-color:#255d5f;
	font-size: 14px;
	color: white;
}
div.vertical_list div{
	margin-top:4px;
	padding: 10px 5px;
	margin: 0px;
	border-bottom: solid 1px #408588;
}
div.vertical_list div:hover{
	background-color:#408588;
}

/*********** Solapas **************/
div.solapa{
	display:flex;
	flex-direction:column;
	flex: 1 1
}

div.solapa_head{
	flex: initial;
	display: flex;
	flex-direction:row;
	height:40px;
	font-size:18px;
	width:100%;
}

div.solapa_head div{
	padding: 8px 50px;
	margin-right:10px;
}

div.solapa_head div:hover{
	color:#007bff
}

div.solapa_selected{
	background-color:#255d5f;
}

div.solapa_body{
	display:flex;
	flex-direction:column;
	flex: 1 1;
	border-top: 1px solid white;
	padding-top:10px;
}

/***********  INFO   *************/

.title{
	display:flex;
	font-size:16px;
	font-width:bold;
	font-weight:bold;
}

.info{
	display:flex;
	flex-direction:row;
	margin:10px 10px;
}
.label{
	display:flex;
	align-items:center;
	flex:1 1;
	font-size:14px;
	font-weight: bold;
	margin-right: 10px;
}
.data{
	flex:1 1;
	font-size:14px;
}
.tab{
	margin-left:40px;
}

/**************** INPUT ****************/

input{
	padding: 3px 5px;
	font-size: 14px;
}
select{
	padding: 3px 10px;
	font-size: 14px;
}

/***************************************/

/************** ADD INPUT *************/
div.input{
	display:flex;
	padding:10px 0px 10px 10px;
	flex: 1 1;
	flex-direction:column;
	font-size:18px;
}
div.flex-col{
	display:flex;
	flex-direction:column;
}
div.flex-row{
	display:flex;
	flex-direction:row;
}
div.input_list{
	font-size:18px;
	font-family: monospace;
}

div.input_label{
	width:200px;
}

select.plus{
	margin:0px 5px;
}

input.plus{
	margin:0px 5px;
}

div.input_error{
	color:red;
	height:20px;
}
div.input_list{
}

/***************************/

table.static_table{
	width: fit-content;
}

table.static_table th{
	background-color: #1e165b;
	font-size: 14px;
	border: solid 1px #1e165b;
	padding:3px 10px;
}

table.static_table td{
	font-size: 14px;
	border: solid 1px #007bff;
	padding:6px 10px;
	font-size:14px;
	color: #333;
}

div.section{
	flex: 1 1;
	overflow-y:auto;
	padding:10px;
}
div.actions{
	flex:initial;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
	height:66px;
	background-color:#0b0821;
}

div.actions div{
	height:55px;
	width:55px;
	display:flex;
	justify-content: center;
	align-items: center;
	border: #007dff 1px solid;
	margin: 0px 20px;
}

div.actions div:hover{
	background-color: #255d5f;
}

div.linea_campo {
	margin-right:10px;
}
/********************************/
div.listado{
	display:flex;
	flex-direction:column;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: auto;
	height:100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif
    font-size: 14px;
	border-radius:6px;
}

div.listado_contenido{
	display: flex;
	flex-direction:column;
	overflow-y:auto;
	background-color: #F8F8F8;
	height:100%;
}

div.listado_cabecera{
	display:flex;
	background-color:#555;
	font-weight:bold;
	color: white;
	padding-top:4px;
	padding-bottom:4px;
}
div.listado_cabecera div{
	flex: initial;
	/*width: 150px;*/
	height:25px;
	font-size:14px;
	padding-left:2px;
	padding-top: 2px;
	border-right-style: solid;
	border-right-color: #555;
	border-right-width: 1px;
}


div.listado_fila{
	display:flex;
/*      align-items: center;
 *	      justify-content: center;*/
}

div.listado_fila:hover{
	background-color: #1e165b ;
	color:#eee;
}

div.listado_fila div{
	flex: initial;
	/*width:150px;*/
	border-right-style: solid;
	border-right-color: #555;
	border-right-width: 1px;
	padding: 10px;
}

/******************************/
div.micro_chart{
	display:flex;
	flex-direction:row;
}
div.micro_chart div{
	flex: 1 1
}


/*********** ActionBar ******************/
div.actionBar{
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
}

div.actionBar div{
	display:flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 40px;
	margin-left:6px;
}
div.actionBar div img{
	width:30px
}

div.actionBar div:hover{
	background-color:#2d1e77;
}
