div.menu_agregar{
	position:absolute;
	background-color: blue;
	bottom: 0px;
	left: 0px
	width:0px;
	height:0px;
	overflow-y:auto;
}

div.menu_agregar_detalle {
	background-color: red;
}

div.menu_agregar_formulario{
	background-color: yellow;
}
